<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.ninedof.dashboard"
    android:versionCode="42"
    android:versionName="4.11" >

    <!-- IMPORTANT: ONLY UPGRADE TARGET SDK VERSION PAST 21 IF ALSO USING M-STYLE PERMISSIONS -->
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <!-- Wifi toggle -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- WiFi AP toggle -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- Data toggle -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- General data storage and log files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- BT toggle -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Sync master toggle -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Version check and MOTD -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Attempt root data toggle? -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Battery full notification hacks -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:name="background.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="activity.Landing"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activity.AboutActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="activity.Landing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="activity.LogViewer"
            android:parentActivityName="activity.AboutActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver
            android:name="background.PebbleReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver android:name="background.BootPackageChangeReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="background.KeepAliveReceiver"/>

        <service
            android:name="background.HandlerService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </service>
        <service
            android:name="background.FindPhone"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </service>

        <receiver
            android:name="background.DeviceAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>